/* Initial body */
body {
  left: 0;
  margin: 0;
  overflow: scroll;
  position: relative;
}

/* Initial menu */
.menu {
  background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
  top: -100;  /* start off behind the scenes */
  width: 100%;
  position: fixed;
  height: auto;
  overflow:auto;
}

/* Basic styling */

.jumbotron {
  background-image: url('https://raw.githubusercontent.com/JF21/JF21.github.io/master/CoverImage.JPG'); 
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
  display:inline;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu {
  background: black;
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin: 0 0 0 -100;
  text-decoration: none;
  float: left;
}

.homepage h1{
clear:both;
text-align: center;
color:#101010;
padding: 0;
margin: 0;
}

.homepage button{
  position: relative;
  left: 50%;
  margin-left: -20px;
  padding: 15px 15px;
}


.well p{
  text-indent: 50px;
  padding: 0 50px 10px 50px;
  font-family: verdana;
  font-size: 18;
  font-weight: bold;
}

.well{
  clear:both;
  margin: 0;
  padding: 0;
}

.icon-menu i {
  margin-right: 5px;
}

.glyphicon.glyphicon-user{
  font-size: 100;
  padding-top: 50px;
  padding-left: 50px;
}

#projects{
  background: #98D3D6;
}
